header {
  display: flex;
  justify-content: end;
  background-color: #e2d4ff;
  padding: 1rem;
}

header div p {
  font-size: .8rem;
  color: #000000;
  margin-bottom: .5rem;
}

.header-container {
  width: fit-content;
  text-align: center;
}

header img {
  width: 2rem;
  margin: 0 10px;
}